<p id="notice"><%= notice %></p>

<h1>Newnodes</h1>

<table>
  <thead>
    <tr>
      <th>Nodename</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newnodes.each do |newnode| %>
      <tr>
        <td><%= newnode.nodename %></td>
        <td><%= newnode.place %></td>
        <td><%= link_to 'Show', newnode %></td>
        <td><%= link_to 'Edit', edit_newnode_path(newnode) %></td>
        <td><%= link_to 'Destroy', newnode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newnode', new_newnode_path %>
