<%= form_with(model: newstate, local: true) do |form| %>
  <% if newstate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newstate.errors.count, "error") %> prohibited this newstate from being saved:</h2>

      <ul>
      <% newstate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :statename %>
    <%= form.text_field :statename %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
