<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <table border="2px" bgcolor="#CDD6D5" width="20%" height="250px" align="center">
  <tr>
    <td>
  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

 
  <div class="field">
    <%= form.label :Countryid %>
    <%= form.number_field :Country_id %>
  </div>

  <div class="field">
    <%= form.label :Stateid %>
    <%= form.number_field :State_id %>
  </div>

  <div class="field">
    <%= form.label :Cityid %>
    <%= form.number_field :City_id %>
  </div>

  <div class="field">
    <%= form.label :Postcode %>
    <%= form.number_field :Postcode %>
  </div>

  <div class="field">
    <%= form.label :Startdate %>
    <%= form.datetime_select :Start_date %>
  </div>

  <div class="field">
    <%= form.label :Active %>
    <%= form.check_box :Active %>
  </div>
</td>
</tr>
</table>
</br>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

