<p id="notice"><%= notice %></p>
<h1 align="center">Companies</h1>
<table border="2px" bgcolor="#CDD6D5" width="100%" height="250px" align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Startdate</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody bgcolor="yellow">
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.Name %></td>
        <td><%= company.Country %></td>
        <td><%= company.State %></td>
        <td><%= company.City %></td>
        <td><%= company.Postcode %></td>
        <td><%= company.Startdate %></td>
        <td><%= company.Active %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
