<p id="notice"><%= notice %></p>
<h1 align="center">Companies</h1>
<table border="2px" bgcolor="#33b5e5" width="100%" height="250px" align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country ID</th>
      <th>State ID</th>
      <th>City ID</th>
      <th>Postcode</th>
      <th>Startdate</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody bgcolor="#f8bbd0">
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.Name %></td>
        <td><%= company.try(:Country_id) %>
            <%= Country.find(company.Country_id).country_name %></td>
         <td><%= company.State_id %>
             <%= State.find(company.State_id).state_name %>

         </td>
        <td><%= company.City_id %>
          <%= City.find(company.City_id).city_name %></td>

        <td><%= company.Postcode %></td>
        <td><%= company.Start_date %></td>
        <td><%= company.Active %>
        </td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table border="2px" bgcolor="#ce93d8" align="center">
<tr>
  <td>
<%= link_to 'New Company', new_company_path %>
</td>
</tr>
</table>