<p id="notice"><%= notice %></p>
<table border="2px" bgcolor=" #d2b4de" width="20%" height="200px">
  <tr>
    <td>
<p>
  <strong>Name:</strong>
  <%= @company.Name %>
</p>

<p>
  <strong>Country ID:</strong>
  <%= Country.find(@company.Country_id).country_name %>

</p>

<p>
  <strong>State ID:</strong>
  <%= State.find(@company.State_id).state_name %>
</p>

<p>
  <strong>City ID:</strong>
  <%= City.find(@company.City_id).city_name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @company.Postcode %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @company.Start_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.Active %>
</p>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
