<p id="notice"><%= notice %></p>

<p>
  <strong>Nodename:</strong>
  <%= @newplace.nodename %>
</p>

<p>
  <strong>Placename:</strong>
  <%= @newplace.placename %>
</p>

<p>
  <strong>Nodename:</strong>
  <%= @newplace.nodename %>
</p>

<p>
  <strong>Company:</strong>
  <%= @newplace.company %>
</p>

<%= link_to 'Edit', edit_newplace_path(@newplace) %> |
<%= link_to 'Back', newplaces_path %>
